<div id="<%= dom_id book %>">
  <p>
    <strong>Tittle:</strong>
    <%= book.tittle %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>
  <p>
    <strong>ISBN number:</strong>
    <%= book.ISBN_number %>
  </p>

  <p>
    <strong>Publishing House:</strong>
    <%= book.publishing_house %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>
  <p>
    <strong>Author:</strong>
    <%= book.author_id%>
  </p>


</div>
